<!DOCTYPE html>
<html>
<head>
	<title>Posts timeline</title>
</head>
<body>
<h2>Posts timeline</h2>
	<p>
		<% @posts.each do |post| %>

		Here will be posts list
		<% end %>
	</p>













</body>
</html>